*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  //height: 100%;
  //width: 100%;
  //padding: 0;
  //margin: 0 auto;
}
html {
  font-size: 62.5%;

  //@include respond(l-screen) {
  //  font-size: 75%;
  //}
  @include respond(laptop) {
    font-size: 70%;
  }
  //@include respond(tab-land) {  // width < 1200?
  //  font-size: 56.25%;
  //}
  @include respond(tab-port) { // width < 900?
    font-size: 65%; // 50%
  }
  @include respond(xl-phone) { // width < 900?
    font-size: 60%;
  }
  @include respond(m-phone) {
    font-size: 55%;
  }
}

body {
  //max-width: 100%;
}