*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;

  @include respond(laptop) {
    font-size: 70%;
  }
  @include respond(tab-land) {  // width < 1200?
    font-size: 56.25%;
  }
  @include respond(tab-port) { // width < 900?
    font-size: 50%;
  }
  @include respond(xl-phone) { // width < 900?
    font-size: 40%;
  }
}