.u-margin-right-small {
  margin-right: 3rem;
}
.u-flex {
  display: flex;
}
.u-margin-bottom-mid {
  margin-bottom: 4rem;
}

.u-text-left {
  text-align: left !important;
  margin-left: 2rem !important;
}