// colors
$dark-blue: #07167C;
$grey: #4B4B5A;
$light-grey: #95979F;
$light-grey-2: #7b7f8b;
$violet: #4022d7;
$quote: rgba(37, 80, 234, 0.64);
$bright-blue: #2561EA;
$black: #1C1B1B;

$font: -apple-system, BlinkMacSystemFont, 'San Francisco';
//$font: 'avenir next', sans-serif;

$cold-blue: #3F5A9E;
$light3-blue: #A6B5D0;
$light2-blue: #D2DAE8;
$light-blue: #ECEEF4;

$mid-blue: #EDEFF4;

$max-page-width: 1440px;