title: Layout
description: "layout test"
baseurl: ""
url: ""

# Build settings
markdown: kramdown
theme: jekyll-theme-cayman
plugins:
  - jekyll-feed

sass:
  sass_dir: _sass
  style: compressed

exclude: [".idea/"]