<section class="index">
    <header class="header-section">
        <h1 class="header-primary">Some Blue Layout</h1>
        <p class="header-tertiary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda aut beatae deleniti, eos esse, excepturi facilis, maiores molestiae</p>
        <div class="u-flex">
            <a href="#0" class="btn u-margin-right-small">Button</a>
            <a href="#0" class="btn btn--1">Button</a>
        </div>
    </header>

    <aside class="right-header">
        <div class="phone"></div>
        <div class="col">
            <div class="phone"></div>
            <div class="phone"></div>
        </div>
    </aside>
</section>

<!--section 2-->
<section data-aos="fade-up">
    <h2 class="header-secondary">Some Layout Contains</h2>
    <div class="numbers">
        <div class="col">
            <h3 class="numbers__number" data-aos="fade-up" >5</h3>
            <h4 class="numbers__text">Ways to Save</h4>
        </div>
        <div class="col">
            <h3 class="numbers__number" data-aos="fade-up" >20</h3>
            <h4 class="numbers__text">Fiduciary health</h4>
        </div>
        <div class="col">
            <h3 class="numbers__number" data-aos="fade-up" >27</h3>
            <h4 class="numbers__text">Simple and transparent</h4>
        </div>
    </div>
</section>

<!--section 3-->
<section data-aos="fade-up" class="offer">
    <h3 class="header-secondary">What we have to offer</h3>
    <p class="header-tertiary" data-aos="fade-up">Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> Aspernatur assumenda aut beatae.</p>

    <div class="row u-margin-bottom-mid" data-aos="fade-up">
        <div class="col">
            <span class="phone-text">Lorem ipsum dolor</span>
            <div class="phone"></div>
        </div>
        <div class="col">
            <span class="phone-text">Lorem ipsum dolor</span>
            <div class="phone"></div>
        </div>
        <div class="col">
            <span class="phone-text">Lorem ipsum dolor</span>
            <div class="phone"></div>
        </div>
    </div>

    <div class="row" data-aos="fade-up">
        <div class="col">
            <span class="phone-text">Lorem ipsum dolor</span>
            <div class="phone"></div>
        </div>
        <div class="col">
            <span class="phone-text">Lorem ipsum dolor</span>
            <div class="phone"></div>
        </div>
        <div class="col">
            <span class="phone-text">Lorem ipsum dolor</span>
            <div class="phone"></div>
        </div>
    </div>
</section>

<section class="paragraphs" data-aos="fade-up">
    <div class="col">
        <div class="col--1">
            <h3 class="header-tertiary">Harbor's all-in-one 401(k)</h3>
            <p class="header-forth">Plan increases participation, retention, and engagement</p>
        </div>
        <div class="col--1">
            <h3 class="header-tertiary">We help employees navigate debt</h3>
            <p class="header-forth">Time constraints, and complexity to improve retirement outcomes</p>
        </div>
        <div class="col--1">
            <h3 class="header-tertiary"> For employers, we reduce liability</h3>
            <p class="header-forth">Fees, and errors so you can focus on work that matters.</p>
        </div>
        <div class="col--1">
            <h3 class="header-tertiary">Our platform will help retain</h3>
            <p class="header-forth">engage, and increase the fiduciary health of your company.</p>
        </div>
    </div>
    <div class="col">
        <div class="col--1">
            <h3 class="header-tertiary">We are fiduciaries that help you</h3>
            <p class="header-forth">We are fiduciaries that help you manage your compliance risks.</p>
        </div>
        <div class="col--1">
            <h3 class="header-tertiary">Simple, transparent, and inclusive pricing</h3>
            <p class="header-forth">Companies pay $125 per month and employees pay 0.5% of their account</p>
        </div>
        <div class="col--1">
            <h3 class="header-tertiary">Our clients love our work.</h3>
            <p class="header-forth">We take the time to specially design and plan for them </p>
        </div>
        <div class="col--1">
            <h3 class="header-tertiary">Increase their retirement savings</h3>
            <p class="header-forth">fees, and errors so you can focus on work that matters</p>
        </div>
    </div>
</section>