<nav class="nav" id="nav" data-aos="fade-up">
    <img src="{{ site.baseurl }}/assets/images/motion-logo.svg" alt="" class="nav__logo">

    <img src="{{ site.baseurl }}/assets/images/facebook-dark.svg" alt="" class="nav__link__img">
    <span class="nav__link">Share on Facebook</span>
    <img src="{{ site.baseurl }}/assets/images/twitter-dark.svg" alt="" class="nav__link__img">
    <span class="nav__link">Share on Twitter</span>
    <a href="#" class="btn btn--sm">Buy for $99</a>
</nav>

<section class="main">
    <div class="wrapper" id="wrapper">
        <div class="header">
            <img src="{{ site.baseurl }}/assets/images/motion-logo.svg" alt="logo" class="logo">
            <h1 class="header-primary">UI Motion Kit</h1>
            <p class="header--secondary">20+ delightful UI animations for <br>
                After Effects combined into 6 mobile flows. <br>
                All ready-to-use AE files.
            </p>
            <div class="u-flex">
                <a href="#" class="btn u-margin-right-small">Buy for $99</a>
                <a href="#" class="btn btn--1">Watch a video</a>
            </div>
            <div class="col">
                <a href="#" class="link">Get a free sample</a>

                <span class="sub">Available for After Effects. <br>No third party plugins required. </span>
            </div>

        </div>


        <aside class="right-header">
            <div class="phone-container">
                <div class="phone">
                    <video loop muted autoplay src="{{ site.baseurl }}/assets/images/01-Slider-2x.mp4" class="video"></video>
                </div>
                <div class="col">
                    <div class="phone">
                        <video loop muted autoplay src="{{ site.baseurl }}/assets/images/02-Payment-2x.mp4" class="video"></video>
                    </div>
                    <div class="phone">
                        <video loop muted autoplay src="{{ site.baseurl }}/assets/images/03-Refresh-2x.mp4" class="video"></video>
                    </div>
                </div>
            </div>

        </aside>
    </div>

</section>

<!--section 2-->
<section data-aos="fade-up">
    <h2 class="header--tertiary">UI motion kit contains</h2>
    <div class="numbers">
        <div class="col">
            <h3 class="numbers__number numscroller" data-aos="fade-up" data-min='1' data-max='6' data-delay='1' data-increment='2'>&nbsp;</h3>
            <h4 class="numbers__text">animated mobile flows</h4>
        </div>
        <div class="col">
            <h3 class="numbers__number numscroller" data-aos="fade-up" data-min='1' data-max='20' data-delay='1' data-increment='2'>&nbsp;</h3>
            <h4 class="numbers__text">UI animation</h4>
        </div>
        <div class="col">
            <h3 class="numbers__number numscroller" data-aos="fade-up" data-min='1' data-max='25' data-delay='1' data-increment='2'>&nbsp;</h3>
            <h4 class="numbers__text">screens</h4>
        </div>
    </div>
</section>

<!--section 3-->
<section data-aos="fade-up" class="offer">
    <h3 class="header--tertiary">What is inside?</h3>
    <p class="header--secondary" data-aos="fade-up">AE files with 20+ delightful UI animations combined into 6 <br> animated mobile flows. Sketch files with 25 screens.</p>

    <div class="row u-margin-bottom-mid" data-aos="fade-up">
        <div class="col">
            <span class="phone-text">Slider selector interactions

</span>
            <img src="{{ site.baseurl }}/assets/images/1.png" alt="" class="phone__img">
        </div>
        <div class="col">
            <span class="phone-text">Pull down to refresh interaction

</span>
            <img src="{{ site.baseurl }}/assets/images/2.png" alt="" class="phone__img">
        </div>
        <div class="col">
            <span class="phone-text">Payment interactions

</span>
            <img src="{{ site.baseurl }}/assets/images/3.png" alt="" class="phone__img">
        </div>
    </div>

    <div class="row" data-aos="fade-up">
        <div class="col">
            <span class="phone-text">Lorem ipsum dolor</span>
            <img src="{{ site.baseurl }}/assets/images/4.png" alt="" class="phone__img">
        </div>
        <div class="col">
            <span class="phone-text">Lorem ipsum dolor</span>
            <img src="{{ site.baseurl }}/assets/images/5.png" alt="" class="phone__img">
        </div>
        <div class="col">
            <span class="phone-text">Lorem ipsum dolor</span>
            <img src="{{ site.baseurl }}/assets/images/6.png" alt="" class="phone__img">
        </div>
    </div>
</section>

<section class="paragraphs" data-aos="fade-up">
    <div class="col">
        <div class="col--1">
            <!--<img src="../assets/images/ic-files.svg" alt="">-->
            <h3 class="header--forth">After Effects & Sketch files included</h3>
            <p class="header--paragraph">All source files are organized and correctly named.</p>
        </div>
        <div class="col--1">
            <h3 class="header--forth">Retina ready in 60fps</h3>
            <p class="header--paragraph">The flow screens look crisp by default at all retina devices.</p>
        </div>
        <div class="col--1">
            <h3 class="header--forth">Components ready</h3>
            <p class="header--paragraph">Separate components are ready-to-use for your project.</p>
        </div>
    </div>

    <div class="col">
        <div class="col--1 col--12">
            <h3 class="header--forth">Perfect for a start of After Effects</h3>
            <p class="header--paragraph">Helpful to understand a creation process behind of UI micro-interactions.</p>
        </div>
        <div class="col--1 col--12">
            <h3 class="header--forth">Easy to customize</h3>
            <p class="header--paragraph">Adjust the colors and design countless variations of micro interactions.</p>
        </div>
        <div class="col--1 col--12">
            <h3 class="header--forth">Focus on micro interactions</h3>
            <p class="header--paragraph">Every micro interaction is perfected to create delightful experiences.</p>
        </div>
    </div>
</section>

<section class="reviews" data-aos="fade-up">
    <h2 class="header--tertiary u-text-left">What people are saying</h2>

    <div class="row--1">
        <div class="review">
            <p class="review__text">It really helped me to jump <br> into the After Effects world.</p>
            <img src="{{ site.baseurl }}/assets/images/review_1.png" alt="" class="review__img">
            <p class="review__name">Vilem Ries</p>
            <p class="review__title">Interaction designer at Google</p>
        </div>

        <div class="review">
            <p class="review__text">So smooth and simple you  <br> would like to lick it!</p>
            <img src="{{ site.baseurl }}/assets/images/review_2.png" alt="" class="review__img">
            <p class="review__name">Majo Moravcik</p>
            <p class="review__title">Designer at Productboard</p>
        </div>
    </div>

    <div class="row--1">
        <div class="review">
            <p class="review__text">Pretty cool! I can imagine <br> using this in my side project.</p>
            <img src="{{ site.baseurl }}/assets/images/review_3.png" alt="" class="review__img">
            <p class="review__name">Ishan Bahla</p>
            <p class="review__title">Interaction designer at Google</p>
        </div>

        <div class="review">
            <p class="review__text">Love the micro-interactions <br> in this kit!</p>
            <img src="{{ site.baseurl }}/assets/images/review_4.png" alt="" class="review__img">
            <p class="review__name">Zahir Ramos</p>
            <p class="review__title">Product Designer at Frame.io</p>
        </div>
    </div>

</section>

<section class="cta" data-aos="fade-up">
    <h2 class="header--tertiary">Satisfaction guarantee</h2>
    <p class="header--secondary">We offer a full 100% money back guarantee 30 days after <br> pruchase! Risk-free way to get into micro-interaction design.</p>

    <a href="#" class="btn u-margin-right-small">Buy for $99</a>
    <br>
    <a href="#" class="link u-margin-left-less">Get a free sample</a>
</section>

<footer class="footer">
    <span>Created by Jakub Antalik and Slavo Glinsky</span>
    <ul class="footer__nav">
        <li>Partnership</li>
        <li>Licence</li>
        <li>Privacy Policy</li>
        <li>Support</li>
        <li>Contact</li>
    </ul>
</footer>