.btn {
  font-family: "Avenir Next", Chivo, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.2rem;
  border-radius: 2px;
  border: none;
  text-align: center;
  padding: 1.2rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color, transform .3s;
  background-color: $cold-blue;
  color: #fff;
  margin-bottom: 3rem;

  &:focus {
    outline: none;
  }

  &--1 {
    background-color: #fff;
    color: $cold-blue;
    border: 1px solid $cold-blue;
  }
}