.header-primary {
  font-family: $font;
  font-weight: 700;
  color: $dark-blue;
  font-size: 8rem;
  line-height: 7.5rem;
  letter-spacing: .45rem;
  margin-bottom: 3.5rem;
  margin-left: -.5rem;
  //position: fixed;
  //z-index: 1;
  position: relative;
  top: .5rem;
  //left: 2rem;
  @media screen and (max-width: 1280px) {
    font-size: 7rem;
  }
  @media screen and (max-width: 1060px) {
    font-size: 6rem;
  }
}
.header--tertiary {
  font-family: $font;
  color: $black;
  letter-spacing: 1px;
  font-size: 3.5rem;
  text-align: center;
  margin: 8% auto 4.5rem auto;
}
.header--secondary {
  font-size: 1.8rem;
  color: $grey;
  margin-bottom: 4rem;
  line-height: 3rem;
}
.header--forth {
  font-size: 1.8rem;
  color: $black;
  margin-bottom: 1.5rem;
}
.header--paragraph {
  font-size: 1.6rem;
  color: $grey;
  line-height: 2.8rem;
}
.phone-text {
  font-family: $font;
  color: $grey;
  font-size: 1.4rem;
}