.header-primary {
  font-family: $font;
  font-weight: 700;
  color: $dark-blue;
  font-size: 8rem;
  line-height: 7.5rem;
  letter-spacing: .45rem;
  margin-bottom: 4rem;

  @include respond(l-screen) {
    position: absolute;
    margin-left: 2rem;
    top: 28%; left: 0;
    z-index: 1;
    width: 100%;
  }
}
.header--tertiary {
  font-family: $font;
  color: $black;
  letter-spacing: 1px;
  font-size: 3.5rem;
  text-align: center;
  margin: 5% auto;
}
.header--secondary {
  font-size: 1.8rem;
  color: $grey;
  margin-bottom: 6.5rem;
  line-height: 3rem;
}
.header--forth {
  font-size: 1.8rem;
  color: $black;
  margin-bottom: 1.5rem;
}
.header--paragraph {
  font-size: 1.6rem;
  color: $grey;
  line-height: 2.8rem;
}
.phone-text {
  font-family: $font;
  color: $grey;
  font-size: 1.4rem;
}