.back-color {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(90deg, #fff 45%, $mid-blue 55%);
  @include respond(column2) {
    background: #fff;
  }
}

.main {
  font-family: $font;
  min-height: 100vh;
  width: 100%;
  max-width: $max-page-width;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;

  @include respond(column2) {
    flex-direction: column;
    margin: 4rem auto;
  }

  .header {
    overflow-x: hidden;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    z-index: 1;
    width: 45%;

    @include respond(column2) {
      width: 100%;
      height: 100%;
      min-height: 53rem;
      max-width: 100vw;
      left: 20%;
      //align-items: center;
      //margin: auto;
    }
    @include respond(m-phone) {
      left: 2%;
    }

    .logo {
      width: 5rem;
      margin-bottom: 4.3rem;
      margin-left: .5rem;
      z-index: 10;
    }
    .sub {
      color: $light-grey;
      font-size: 1.2rem;
      line-height: 1.7rem;
      position: relative;
      display: inline-block;

      &::before {
        content: ' ';
        display: inline-block;
        width: 26px;
        height: 26px;
        background: url(../../assets/images/ae.svg) no-repeat center center;
        background-size: contain;
        float: left;
        margin-right: 10px;
        position: relative;
        top: 4px;
      }
    }
  }
}

.right-header {
  min-height: 40rem;
  background-color: $mid-blue;
  overflow: hidden;
  position: relative;
  width: 55%;

  .phone-container {
    display: flex;
    @include phoneCenter;
    .video {
      display: inline-block;
      width: 100%;
      transform: scale(1.24);
      top: 4rem;
      position: relative;
      overflow-y: hidden;
    }
  }
  @include respond(column2) {
    width: 100%;
  }
}


.phone-text {
  margin-bottom: 1.5rem;
}
.phone {
  width: 26.3rem;
  height: 56.5rem;
  margin: 2.5rem;
  border-radius: 2.9rem;
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(#000, .1);
  position: relative;
  overflow: hidden;

  &:first-child {
    align-self: center;
  }

  &__img {
    width: 20rem;
    height: 40rem;
    border-radius: 2rem;
  }

  @media(max-width: 1200px) {
      width: 22rem;
      height: 44rem;
      background-size: 26.9rem;
    .video {
      top: 3.3rem;
    }
  }
}

.paragraphs {
  font-family: $font;
  height: 100%;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  max-width: $max-page-width;
  margin: 0 auto;

  @include respond(column2) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.link {
  color: $bright-blue;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: $font;
  margin-bottom: 3rem;
  display: inline-block;
  cursor: pointer;
}

.col {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 40rem;
  margin: 2rem 1rem;

  &--2 {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
  }

  &--1{
    width: 80%;
    align-self: center;
    margin: 4rem auto;
    position: relative;

    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: -6.6rem;
      //top: -.7rem;
      width: 5.2rem;
      height: 100%;
      overflow: visible;
    }
    &:first-child::before {
      background: url(../../assets/images/ic-files.svg) no-repeat center center;
    }
    &:nth-child(2)::before {
      background: url(../../assets/images/ic-retina.svg) no-repeat center center;
    }
    &:nth-child(3)::before {
      background: url(../../assets/images/ic-components.svg) no-repeat center center;
    }
    &:nth-child(4)::before {
      background: url(../../assets/images/ic-ae.svg) no-repeat center center;
    }
    &:nth-child(5)::before {
      background: url(../../assets/images/ic-customizate.svg) no-repeat center center;
    }
    &:nth-child(6)::before {
      background: url(../../assets/images/ic-focus.svg) no-repeat center center;
    }
  }
}


.icon {
  width: 3rem;
  height: 3rem;
  background-color: $light2-blue;
  border: 1px solid $mid-blue;
  border-radius: 5rem;
}

.row {
  display: flex;
  justify-content: space-evenly;

  @media screen and (max-width: 715px) {
    align-self: center;
    display: inline-block;
  }
}

.numbers {
  font-family: $font;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin-bottom: 10rem;

  @include respond(column2) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > * {
      margin-bottom: 2rem;
    }
  }

  &__number {
    align-self: center;
    color: $dark-blue;
    font-size: 6.5rem;
    margin-bottom: 2.5rem;
  }
  &__text {
    color: $grey;
    font-size: 2.1rem;
    font-weight: 500;
  }
}

.offer {
  font-family: $font;
  height: 100%;
  min-height: 120rem;
  padding: 3rem;
  background-color: $mid-blue;
  margin: 2rem auto;
  text-align: center;
  overflow-y: hidden;
}


.reviews {
  height: 100%;
  //min-height: 80rem;
  width: 100%;
  max-width: $max-page-width;
  margin: 0 auto;
  padding: 10rem 1.5rem;

  .row--1 {
    display: flex;
    margin-right: auto;
    width: 100%;

    @include respond(column2) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  .review {
    height: 100%;
    width: 50%;
    margin: 5rem 0 5rem 3rem;
    font-family: $font;

    &__text {
      font-size: 2rem;
      line-height: 3.6rem;
      margin-bottom: 3rem;
      position: relative;

      &::before {
        content: "“";
        display: block;
        font-size: 5rem;
        position: absolute;
        color: $quote;
        top: -18px; left: -22px;
      }
    }
    &__img {
      margin-bottom: 2rem;
    }
    &__name {
      font-size: 1.6rem;
      color: $violet;
      margin-bottom: .5rem;
    }
    &__title {
      font-size: 1.7rem;
      line-height: 2.2rem;
      color: $light-grey-2;
    }
  }
}

.cta {
  font-family: $font;
  text-align: center;
  padding: 3rem 0;
  height: 100%;
  background-color: $light-blue;
}

.footer {
  font-family: $font;
  font-size: 1.5rem;
  color: $light-grey-2;
  line-height: 1.7rem;
  padding: 4.5rem 0;

  display: flex;
  margin-left: 2rem;

  &__nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-left: auto;

    & > * {
      margin-right: 2rem;
    }
  }

  .dark-link {
    color: $dark-grey;
    text-decoration: none;

    padding: .2rem .3rem;
    border-bottom: 2px solid transparent;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0; left: 0;
      background-color: $dark-grey;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }

  @include respond(column2) {
    display: block;
    text-align: center;
    &__nav {
      margin: 2rem auto;
    }
  }
}























































