.wrapper {
  width: 100%;
}

.main {
  font-family: $font;
  height: 100vh;
  display: flex;
  //position: relative;
  overflow-x: hidden;

  @include respond(xl-phone){
    flex-direction: column;
  }
  .header {
    float: left;
    //display: inline-block;
    //position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 45%;
    margin: 15% auto;
    padding-left: 2rem;
    //margin: 4rem 0 0 1.5rem;

    .logo {
      width: 4rem;
      margin-bottom: 4.5rem;
      //margin: 0 0 5rem 1rem;
    }
    .sub {
      color: $light-grey;
      font-size: 1.2rem;
      line-height: 1.7rem;
      position: relative;
      display: inline-block;

      &::before {
        content: ' ';
        display: inline-block;
        width: 26px;
        height: 26px;
        background: url(../../assets/images/ae.svg) no-repeat center center;
        background-size: contain;
        float: left;
        margin-right: 10px;
        position: relative;
        top: 4px;
      }
    }
  }

  .right-header {
    //float: right;
    //width: 55%;
    height: 100%;
    background-color: $mid-blue;
    overflow: hidden;
    position: relative;

    .phone-container {
      display: flex;
      @include absCenter;

      .video {
        display: inline-block;
        width: 100%;
        transform: scale(1.21);
        top: 4rem;
        position: relative;
        overflow-y: hidden;
      }
    }
  }
}

.phone {
  width: 26.3rem;
  height: 56.5rem;
  margin: 2.5rem;
  border-radius: 2.9rem;
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(#000, .1);
  position: relative;
  overflow: hidden;

  &:first-child {
    align-self: center;
  }

  @include respond(xl-phone){
    width: 17rem;
    height: 35rem;
  }
}

.paragraphs {
  font-family: $font;
  height: 100%;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
}
.link {
  color: $bright-blue;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: $font;
  margin-bottom: 3rem;
  display: inline-block;
  cursor: pointer;
}

.col {
  display: flex;
  flex-direction: column;
  position: relative;

  &--1{
    width: 80%;
    align-self: center;
    margin: 4rem auto;
    position: relative;

    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: -6.6rem;
      top: -.7rem;
      width: 4.8rem;
      height: 100%;
      //overflow: visible;
    }
    &:first-child::before {
      background: url(../../assets/images/ic-files.svg) no-repeat center center;
    }
    &:nth-child(2)::before {
      background: url(../../assets/images/ic-retina.svg) no-repeat center center;
    }
    &:nth-child(3)::before {
      background: url(../../assets/images/ic-components.svg) no-repeat center center;
    }
  }
}
.col--12 {
  &:nth-child(1)::before {
    background: url(../../assets/images/ic-ae.svg) no-repeat center center;
  }
  &:nth-child(2)::before {
    background: url(../../assets/images/ic-customizate.svg) no-repeat center center;
  }
  &:nth-child(3)::before {
    background: url(../../assets/images/ic-focus.svg) no-repeat center center;
  }
}

.icon {
  width: 3rem;
  height: 3rem;
  background-color: $light2-blue;
  border: 1px solid $mid-blue;
  border-radius: 5rem;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.numbers {
  font-family: $font;
  display: flex;
  justify-content: space-evenly;
  height: 35rem;

  &__number {
    align-self: center;
    color: $dark-blue;
    font-size: 6.5rem;
    margin-bottom: 2.5rem;
  }
  &__text {
    color: $grey;
    font-size: 2.1rem;
    font-weight: 500;
  }
}

.offer {
  font-family: $font;
  height: 100%;
  padding: 3rem;
  background-color: $mid-blue;
  margin: 2rem auto;
  text-align: center;
}


.reviews {
  height: 100%;
  width: 100%;
  //max-width: 995px;
  display: block;
  padding: 10rem 1.5rem;
  //margin: auto;

  .row--1 {
    display: flex;
    margin-right: auto;
    width: 100%;
  }

  .review {
    width: 50%;
    margin: 5rem 0 5rem 3rem;
    font-family: $font;

    &__text {
      font-size: 2rem;
      line-height: 3.6rem;
      margin-bottom: 3rem;
      position: relative;

      &::before {
        content: "“";
        display: block;
        font-size: 5rem;
        position: absolute;
        color: $quote;
        top: -18px; left: -22px;
      }
    }
    &__img {
      margin-bottom: 2rem;
    }
    &__name {
      font-size: 1.6rem;
      color: $violet;
      margin-bottom: .5rem;
    }
    &__title {
      font-size: 1.7rem;
      line-height: 2.2rem;
      color: $light-grey-2;
    }
  }
}

.cta {
  font-family: $font;
  text-align: center;
  padding: 7.7rem 0;
  background-color: $light-blue;
}

.footer {
  font-family: $font;
  font-size: 1.5rem;
  color: $light-grey-2;
  line-height: 1.7rem;
  padding: 7.3rem 0;

  display: flex;
  margin-left: 2rem;

  &__nav {
    list-style-type: none;
    display: flex;
    margin-left: auto;

    & > * {
      margin-right: 2rem;
    }
  }
}











